{% extends 'base.html'%}
{% block title %}  
Password Reset
{% endblock %}

{% block content %}

<div class="container-fluid d-flex align-items-center justify-content-center login vh-100" >
    <div class="row align-items-center justify-content-center w-100" >

        <div class="form login col-lg-4 col-md-6 bg-dark rounded p-4" >
            <div class="">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="48" height="24">
            </div>
            <form action="{{ url_for('user.reset_password_request') }}" method="POST" class="text-white" id="loginForm">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <h4 class="text-center">Password Reset</h4>
                <p>Enter a username or email and we will send a link to reset your password</p>
                <div class="mb-3">
                    <label for="identifier" class="form-label">Email or Username</label>
                    <input type="text" class="form-control" name="identifier" placeholder="Email or Username associated with your account" required>
                </div>

                <button class="p-2 m-1 btn btn-login" type="submit">Send Link</button> 
            </form>

        </div>
        
    </div>
</div>

{% endblock %}
